li
    font-size 18px

footer  
    padding-left 15px
    padding-right 15px
    p
        border-top 1px solid #d7e0e2
li.signup
    a
        padding-top 11px
        padding-right 30px


.navbar
    margin-bottom 8px
    border-radius 0px

.navbar-inverse 
    background-color #303f9f
    border-color #303f9f

.navbar-brand
    font-size 30px

.navbar-right
    padding-top 20px

h6
    padding-top 10px
    margin-bottom 0px
    font-size 17px

.navbar-form
    .form-group
        margin-left 10px
    button 
        background-color #3F51B5
        margin-left 10px

.toast-top-right
    top 108px

.toast-success
    background-color #000000

.magin-left-tej
    margin-left 10px
    
.label
    padding-top 1.2em
    font-size 90%
    color #000000
        



